
/*

font-family: 'Black Han Sans', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Song Myung', serif;

*/

:root {
  --main-color: rgb(75, 132, 125);
  --point-color: rgb(166, 35, 77);
}

/*hover*/

a:link {
  color : var(--main-color);
  text-decoration: none;
}
a:visited {
  color : var(--main-color);
  text-decoration: none;
}
a:hover {
  color : var(--point-color);
  text-decoration: none;
}
a:active {
  color : var(--main-color);
  text-decoration: none;
}

i:hover {
  color: var(--point-color);
  text-decoration: none;
}

.backBtn {
  background-color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 10px;
  margin-bottom: 8px;

  color: white;
  border-style: none;
  border-radius: 5px;
}

.backBox {
	margin: 3%;
}

.updateContent {
    width: 300px;
    padding: 10px;
    margin-top: 9%;
    height: 50px;
    margin-bottom: 4%;
}

.updatePic {
	margin-bottom: 2%;
}


/*전체적용*/

body {
  background-color: rgb(255, 255, 255);
}

textarea {
  border: lightgray 1px solid;
  border-radius: 5px;

  width: 85%;
  height: 0%;

  resize: none;
}

i {
  padding: 3px;
}

/*전체박스*/

.allBox {
  margin: 0 auto;
  width: 80%;
  min-width: 60%;
  height: 80%;
  
  background-color: rgb(255, 255, 255);


  display: flex;
  justify-content: center;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/*왼쪽 메인컨테이너*/

.mainContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
}

.nav {
  background-color: rgb(255, 255, 255);
  height: 50px;
}

.navBox {
  display: flex;  
  flex-direction: row;

  justify-content: space-around;

  margin-top: 1%;
}

.home {
  font-family: 'Gugi', cursive;
  font-size: 23px;
}

.menu .fas {
  font-size: 20px;
}

.menuBox {
  display: flex;
  flex-direction: row;

  
  justify-content: space-between;
}

.menuBox .menu {
  padding-right: 30px;
}

.contentPage {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------게시물등록부분*/

.postContainer {
  display: flex;
}

.reg {
  width: 50%;
  height: auto;
  padding: 1%;
  margin-top: 20px;

  text-align: center;

  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.regFile {
  padding: 10px;
}

.regBtn {
  background-color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 10px;
  margin-bottom: 8px;

  color: white;
  border-style: none;
  border-radius: 5px;
}

.regBtn:hover {
  background-color: var(--point-color);
}

.regContent {
  padding: 10px;
  margin-top: 8px;
}

/*---------------게시물출력부분*/

.post {
  width: 60%;
  height: auto; /*나중에 auto로*/

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  text-align: justify;
  background-color: rgb(255, 255, 255);
}

.postImg {
  width: 100%;
  overflow: hidden;
}

.postImg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postImg img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.postDownBox {
  background-color: white;

}

.postContents {
  display: flex;

  padding-top: 10px;
  padding-bottom: 3px;
  
  font-size: 9pt;
}

.postMenu {
  width: 98%;
  display: flex;

  justify-content: flex-end;
  
  margin-bottom: 1%;
  margin-top: 0;
}

.pmStyle {
  margin-left: 2px;
}

.postWriter {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;

  padding-left: 8px;
  
  font-weight: bold;
}

.postTxt {
  font-family: 'Nanum Gothic', sans-serif;
}

.pmStyle i {
  font-size: 15pt;
  color: var(--main-color);
}

.pmStyle i:hover {
  color: var(--point-color);
}

.pmStyle button {
  border: none;
  background-color: white;
}

/*-------------코멘트*/

.comment {
  display: flex;

  padding: 10px;

  background-color: rgb(255, 240, 245);
}

.commentArea {
  width: 95%;
  height: 100%;
  padding-left: 8px;
  padding-right: 15px;
  margin: 5px;
}

.commentBtn {
  padding-top: 10px;
  margin-right: 5px;
  font-size: 40px;
}

.commentArea {
  margin-right: 20px;
}

.commentCon {
  width: 100%;
  height: 50px;

  padding: 10px;
}

/*------------------------------오른쪽 사이드바*/

.side {
  width: 20%;

  display: flex;
  flex-direction: column;

  background-color: white;
}

.search {
  margin: 2% auto;
  padding-top: 10px;
}

.search input {
  padding: 5px;

  border-radius: 10px;
  border:rgba(100, 100, 111, 0.2) solid 1px;
}

.search button {
  border: none;
  background-color: white;
}

.search i {
  font-size: 13pt;
  color: var(--main-color);
}

.search i:hover {
  color: var(--point-color);
}

.profile {
	width: 90%;
    height: 150px;
    min-height: 150px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    margin: 10% auto;
    padding-bottom: 10%;
    text-align: center;
    padding-top: 10%;
    font-size: 9pt;
}


.profileInfo {
}

.profileName {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.profileMenu img {
        width: 80px;
    height: 80px;
    border-radius: 10px;
        margin: 5%;
}


.suggest {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  margin-bottom: 8%;
  width: 90%;

  text-align: center;
  font-size: 9pt;
  
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(255, 240, 245);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.suggest span {
  padding: 5px;
}

.suggestContent {
  display: flex;
  margin: 5% auto;
}


.suggestP {
  padding: 0;
  padding: 2px;
}

.suggestP img {
  width: 50px;
  border-radius: 50px;

}


.suggestName {
    width: 80px;
    margin-left: 10%;
}

.suggestSpan {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 10pt;
	font-weight: bold;
}



/*----------------------마이프로필페이지*/

.profileContainer {
  margin: 8px auto;
  width: 80%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  
  
  display: flex;
  justify-content: center;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pageTitle {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bolder;
  text-align: center;

  margin-top: 3%;
}

.myProfile {
  display: flex;
  
  width: 50%;
  height: auto;
  min-height: 100px;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 5%;
  
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.profileBox {
  margin: 0 auto;
  display: flex;
  
  font-family: 'Nanum Gothic', sans-serif;
}

.myPic img {
  width: 80px;
  width: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 50px;

  margin: 10px;
}

.flexBox1 {
	margin: auto;
}

.flexBox2 {
  margin: auto;
}

.myName {
  font-size: 13pt;
  font-weight: 900;
  
}

.myId {
  font-size: 10pt;
  font-weight: 900;
  margin-top: 3px;
  color: var(--main-color);
}

.myIntro {
  margin-top: 10px;

  font-weight: bolder;
}


/*프로필 확인 페이지*/

.myProfileBox {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
	text-align: center;
}

.titleSpan {
	font-size: 10pt;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 11pt;
	font-weight: bold;
	
	margin-top: 8px;
}

.profileSpan .mySpan{
	padding: 10px;
	font-size: 9pt;
}


.updateBtn {
  background-color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 20px auto;

  color: white;
  border-style: none;
  border-radius: 5px;
}

.deleteBtn {
  background-color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 20px;

  color: white;
  border-style: none;
  border-radius: 5px;
}

.updateBtn:hover {
	background-color: var(--point-color);
}

.deleteBtn:hover {
	background-color: var(--point-color);
}


/*프로필 수정 페이지*/

.myProfile2 {
	display: flex;
  
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 5%;
  
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.myProfileBox2 {
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	
	text-align: center;
}

.myInput {
  margin: 10px;
  padding: 8px;

  border: var(--gray-color) 1px solid;
}

.myInput img {
	width: 100px;
}
